@page "/play-quiz/{title}"
@using System.Timers;
@using TakeAQuiz.Shared.ViewModels;
@using TakeAQuiz.Shared.GameLogic;
@inject HttpClient Http;

<MudGrid Class="pa-10 d-flex justify-center">
    <MudItem xs="8">
        <MudPaper Elevation="4" Class="pa-8 ma-4">
            <div style="display: flex; justify-content: space-between; margin: 0; padding: 0; width: 100%;">
                <MudText Typo="Typo.h4">@Title</MudText>
                <MudButton Class="py-2 px-4 rounded ma-0" Href="/view-quizzes" Style="background-color: rgba(89,74,226,1); color: rgba(255,255,255,1);">Go Back</MudButton>
            </div>
            <MudText Typo="Typo.h6">Rating: @quizInfo.OverallRating / 5</MudText>
        </MudPaper>
    </MudItem>

    <MudItem xs="8">
        <MudPaper Elevation="4" Class="pa-8 ma-4">
            @if (!game.ActiveGame)
            {
                <MudContainer Class="d-flex justify-center">
                    <MudButton OnClick="@game.StartGame" Variant="Variant.Outlined" Color="Color.Primary" Class="mr-4 pa-6" Style="width: 49%; font-size: 1.2rem;">Play</MudButton>
                </MudContainer>
            } 
            else
            {
                <MudContainer Class="d-flex justify-center flex-column">
                    
                    @if (quizInfo.Questions[game.QIndex].TimeLimit > 0)
                    {
                        <CountdownClock 
                            InitialTimeLimit="@quizInfo.Questions[game.QIndex].TimeLimit"
                            Guess="@Guess"
                            QuestionIndex="game.QIndex"
                        />
                    }

                    @if (quizInfo.Questions[game.QIndex].Media.Contains("youtube"))
                    {
                        <iframe style="height: 40svh; width: 100%;" src="@($"{quizInfo.Questions[game.QIndex].Media}&autoplay=1&showinfo=0&player.setVolume(5)")" title="Video" frameborder="0"
                                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture">
                        </iframe>
                    }
                    else
                    {
                        <MudImage Style="height: 40svh; width: 100%; object-fit: cover;" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" Src="@quizInfo.Questions[game.QIndex].Media" Alt="Media" />
                    }

                    <MudText Typo="Typo.h4" Style="text-align: center; padding: 1rem; margin-top: 1rem;">@quizInfo.Questions[game.QIndex].Question</MudText>
                
                </MudContainer>

                if (quizInfo.Questions[game.QIndex].MockAnswers != null && quizInfo.Questions[game.QIndex].MockAnswers.Any())
                {
                    <MudContainer Class="d-flex flex-column ma-auto pa-0 justify-center">
                        <MudContainer Class="mb-6 ma-0 pa-0 d-flex justify-space-between">
                            <MudButton @onclick="() => SendGuess(
                                                quizInfo.Questions[game.QIndex].MockAnswers[0].MockAnswer,
                                                quizInfo.Questions[game.QIndex].Answer)"
                                       Variant="Variant.Outlined"
                                       Color="Color.Primary"
                                       Class="mr-4 pa-6"
                                       Style="width: 49%; font-size: 1.2rem;">
                                @quizInfo.Questions[game.QIndex].MockAnswers[0].MockAnswer
                            </MudButton>

                            <MudButton @onclick="() =>SendGuess(
                                                quizInfo.Questions[game.QIndex].MockAnswers[1].MockAnswer,
                                                quizInfo.Questions[game.QIndex].Answer)"
                                       Variant="Variant.Outlined"
                                       Color="Color.Primary"
                                       Class="pa-6"
                                       Style="width: 49%; font-size: 1.2rem;">
                                @quizInfo.Questions[game.QIndex].MockAnswers[1].MockAnswer
                            </MudButton>
                        </MudContainer>
                        <MudContainer Class="ma-0 pa-0 d-flex justify-space-between">
                            <MudButton @onclick="() => SendGuess(
                                                quizInfo.Questions[game.QIndex].MockAnswers[2].MockAnswer,
                                                quizInfo.Questions[game.QIndex].Answer)"
                                       Variant="Variant.Outlined"
                                       Color="Color.Primary"
                                       Class="mr-4 pa-6"
                                       Style="width: 49%; font-size: 1.2rem;">
                                @quizInfo.Questions[game.QIndex].MockAnswers[2].MockAnswer
                            </MudButton>


                            <MudButton @onclick="() => SendGuess(
                                                quizInfo.Questions[game.QIndex].Answer,
                                                quizInfo.Questions[game.QIndex].Answer)"
                                       Variant="Variant.Outlined"
                                       Color="Color.Primary"
                                       Class="pa-6"
                                       Style="width: 49%; font-size: 1.2rem;">
                                @quizInfo.Questions[game.QIndex].Answer
                            </MudButton>
                        </MudContainer>
                    </MudContainer>

                }
                else
                {
                    <MudContainer Class="d-flex justify-center" Style="width: 49%;">
                        <MudTextField @bind-Value="Guess" T="string" Label="Answer" Variant="Variant.Outlined" Class="mr-4 pa-6" Style="font-size: 1.2rem;"></MudTextField>
                        <MudButton @onclick="() => SendGuess(Guess , quizInfo.Questions[game.QIndex].Answer)">Guess</MudButton>
                    </MudContainer>
  
                }
            }
        </MudPaper>
    </MudItem>
</MudGrid>
 
@code {
    [Parameter]
    public string? Title { get; set; }

    private GameLogic game = new GameLogic();
    private QuizViewModel? quizInfo = new QuizViewModel();
    private string? Guess { get; set; }


    public async Task SendGuess(string guess, string answer)
    {
        await game.MakeGuess(guess,answer);
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        quizInfo = await Http.GetFromJsonAsync<QuizViewModel>("api/quiz/getquiz/" + @Title);
        game.CurrentScore += quizInfo.MaxScore;

        // game.StateChange += () => InvokeAsync(StateHasChanged);
    }
}